saikumar1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3782d225-6e06-4409-bd1d-45fab3f2284b" >
		<http:listener-connection host="localhost" port="9512" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="13137e00-43c7-478c-a369-dba334a65e4e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="PNS#817LNSS9" database="mydb6" />
	</db:config>
	<flow name="saikumar1Flow" doc:id="2031ed4f-1647-46fe-9124-36de5c8bc726" >
		<http:listener doc:name="Listener" doc:id="4ac2ab0e-225f-41be-8036-c040e36c1c59" path="foreach" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="eacc36b2-674d-487d-98cf-f19ba1090f0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 1000 map
{
	id: if ($$ == 4) 'super' else 200 + $$,
	name: "dola",
	number: 56874484,
	lname: "palepu"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="Batch_Job" doc:id="eee2ed97-deda-4b7a-ad80-df22b469687d">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="976b42cd-e3ea-4e36-826c-d63e1e73d8c3" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="e2fba8be-ae67-43b5-8728-8f210118179b" size="20">
						<logger level="INFO" doc:name="Logger" doc:id="7577eb39-0987-4991-b91f-332e704f15eb" message="#[payload]" />
						<db:bulk-insert doc:name="Bulk insert" doc:id="72eb2192-8219-43b1-84b1-e52a8c282d07" config-ref="Database_Config">
							<db:sql ><![CDATA[insert into mydb6.emp(id,name,number,lname)values(:id, :name, :number, :lname);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="5d261937-50cc-4353-b846-bcf25128469b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="d05e92e3-b379-4dd9-9911-03a13f6c33ab" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
